body {
  background: $background-color-main;
  color: $color-text-main;
  font-family: $main-font;
  font-size: 14px;
  letter-spacing: 0.03em;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &__heading {
    margin-bottom: 50px;
    color: $color-text-topic;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
  }
}
.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  &__item--advantage {
    width: 270px;
  }
  &__item--work {
    width: 370px;
  }
  &__item--team {
    width: 270px;
  }
  &__item--client {
    width: 170px;
    height: 92px;
  }
  &__item--project {
    width: 370px;
  }
}
