// base mobile style
body {
  background: $background-color-main;
  color: $color-text-main;
  font-family: $main-font;
  font-size: 14px;
  letter-spacing: 0.03em;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;

  &__heading {
    margin-bottom: 30px;
    color: $color-text-topic;
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33 / 28);
    text-align: center;
  }
}
.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  &__item--client {
    width: 210px;
    height: 92px;
  }
  &__item--project {
    width: 450px;
  }
}

// tablet stule
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .grid {
    &__item--advantage {
      width: 354px;
    }
    &__item--work {
      width: 354px;
    }
    &__item--team {
      width: 354px;
    }
    &__item--client {
      width: 226px;
      height: 92px;
    }
    &__item--project {
      width: 354px;
    }
  }
}
// desktop style
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .section {
    padding-top: 94px;
    padding-bottom: 94px;

    &__heading {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: calc(42 / 36);
      text-align: center;
    }
  }
  .grid {
    &__item--advantage {
      width: 270px;
    }
    &__item--work {
      width: 370px;
    }
    &__item--team {
      width: 270px;
    }
    &__item--client {
      width: 170px;
      height: 92px;
    }
    &__item--project {
      width: 370px;
    }
  }
}
