.icon--envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.icon--smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
.icon--send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: $color-text-hero;
}
.icon--social {
  width: 20px;
  height: 20px;
}
.icon--close {
  width: 11px;
  height: 11px;
}
.icon--advantage {
  width: 70px;
  height: 70px;
}
.icon--client {
  width: 106px;
  height: 60px;
}
.icon--input {
  width: 18px;
  height: 18px;
}
.icon--check {
  display: block;

  width: 16px;
  height: 15px;
  letter-spacing: 0;
}
