//  mobile style
.logo {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  text-decoration: none;

  &__accent {
    color: $color-text-accent;
  }
  &--header {
    color: $color-text-dark;
  }
  &--footer {
    color: $color-text-hero;
  }
}
// desktop style
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: calc(30 / 26);

    &--header {
      margin-right: 93px;
      color: $color-text-dark;
    }
  }
}
