.nav {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
  }
  &__item {
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }
}
.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  text-decoration: none;
  color: $color-text-topic;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: $color-text-accent;
  }
  &--contact {
    flex-direction: row;
    color: $color-text-main;
  }
}
.nav__link--active {
  color: $color-text-accent;
  padding-bottom: 0;

  &::after {
    content: '';
    width: 106%;
    height: 4px;
    border-radius: 2px;
    background-color: $background-color-bt-accent;
    background-size: contain;
    margin-top: 28px;
  }
}
