// mobile style
.header {
  border-bottom: 1px solid $background-color-line;
  &__container {
    padding: 16px 10px 16px 15px;
  }
}
// tablet / desktop style
@media screen and (min-width: 768px) {
  .header {
    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 0;
    }
  }
}
