// mobile style
.footer {
  background-color: $background-color-dark;
  padding-top: 60px;
  padding-bottom: 60px;
  &__container {
    padding: auto;
  }

  &__container--address {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
  &__container--social {
    margin: auto;
    max-width: 206px;
    margin-bottom: 60px;
  }

  &__container--title {
    margin-bottom: 20px;

    color: $color-text-hero;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
  }
}

.social {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.social__link {
  display: block;
  fill: $color-text-hero;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  text-decoration: none;
  padding: 12px;
  background-color: $background-color-social;
  border-radius: 50%;
  line-height: 0;

  &:hover,
  &:focus {
    background-color: $background-color-bt-accent;
  }
}

.form-ftr {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__input {
    display: block;
    padding: 15px 16px;
    margin-bottom: 20px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    outline: none;
    width: 450px;
    height: 50px;
    background-color: transparent;
    border: 1px solid $background-color-border;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    &::placeholder {
      font-size: 16px;
      line-height: calc(20 / 16);
      letter-spacing: 0.03em;
      color: var(--color-text-adress);
    }
  }
}

.form-ftr__label:focus-within > .form-ftr__input {
  color: $background-color-bt-accent;
  border-color: $background-color-bt-accent;
}
// tablet style
@media screen and (min-width: 768px) {
  .footer {
    padding: 60px 89px 60px 76px;
    &__container--box {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 60px;
    }
    &__container--address {
      margin: auto;
      margin-right: 165px;
    }
    &__container--social {
      margin: auto;
    }
  }
}
// desktop style
@media screen and (min-width: 1200px) {
  .footer {
    padding: 60px 0;
    &__container {
      display: flex;
      align-items: center;
      margin: auto;
    }
    &__container--address {
      margin-right: 70px;
      width: 230px;
    }
    &__container--box {
      display: flex;
      margin: 0 93px 0 0;
    }
    &__container--form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }

  .form-ftr {
    display: flex;
    gap: 12px;
    flex-direction: row;
  }
  .form-ftr__input {
    width: 358px;
    height: 50px;
    margin: 0;
  }
}
