.team {
  background-color: $background-color-sect;

  &__item {
    background-color: $background-color-main;
    box-shadow: 0px 1px 3px $background-color-shadow-blok,
      0px 1px 1px $background-color-shadow-blok1, 0px 2px 1px $background-color-backdrop;
    border-radius: 0px 0px 4px 4px;
  }
  &__container {
    padding: 30px;
  }
  &__member {
    margin-bottom: 10px;

    color: $color-text-topic;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
  }
  &__function {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
  }
}

.grid--social {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.team__link {
  display: block;
  fill: $background-color-svg;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  text-decoration: none;
  padding: 12px;
  background-color: transparent;
  border-radius: 50%;
  line-height: 0;

  &:hover,
  &:focus {
    fill: $color-text-hero;
    background-color: $background-color-bt-accent;
  }
}
