.hero {
  background-color: $background-color-dark;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: linear-gradient($background-color-gradient, $background-color-gradient),
    url(../images/hero/bg-img_sm.jpg);

  padding-top: 118px;
  padding-bottom: 118px;

  &__container {
    padding-left: 60px;
    padding-right: 60px;
  }
  &__title {
    max-width: 360px;
    margin-bottom: 30px;
    // margin-left: 0;
    // margin-right: 0;

    color: $color-text-hero;
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient($background-color-gradient, $background-color-gradient),
      url(../images/hero/bg-img_sm@2x.jpg);
  }
}
// tablet stule
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient($background-color-gradient, $background-color-gradient),
      url(../images/hero/bg-img_md.jpg);

    padding-top: 118px;
    padding-bottom: 118px;

    &__container {
      padding-left: 204px;
      padding-right: 204px;
    }
    &__title {
      // width: 360px;
    }
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient($background-color-gradient, $background-color-gradient),
      url(../images/hero/bg-img_md@2x.jpg);
  }
}
// desktop style
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient($background-color-gradient, $background-color-gradient),
      url(../images/hero/bg-img_lg.jpg);
    background-size: 1600px;

    padding-top: 200px;
    padding-bottom: 200px;

    &__container {
      padding-left: 252px;
      padding-right: 252px;
    }
    &__title {
      width: 696px;
      font-size: 44px;
      line-height: calc(60 / 44);
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient($background-color-gradient, $background-color-gradient),
      url(../images/hero/bg-img_lg@2x.jpg);
  }
}
