$background-color-main: #ffffff;
$background-color-dark: #2f303a;
$background-color-sect: #f5f4fa;
$background-color-box: #eeeeee;
$background-color-bt: #f5f4fa;
$background-color-bt-accent: #2196f3;
$background-color-bt-activ: #188ce8;
$background-color-line: #ececec;
$background-color-svg: #afb1b8;
$background-color-social: rgba(255, 255, 255, 0.1);
$background-color-gradient: rgba(47, 48, 58, 0.4);
$background-color-overlay: rgba(33, 150, 243, 0.9);
$background-color-label: rgba(47, 48, 58, 0.8);
$background-color-backdrop: rgba(0, 0, 0, 0.2);
$background-color-shadow: rgba(0, 0, 0, 0.15);
$background-color-shadow-blok: rgba(0, 0, 0, 0.12);
$background-color-shadow-blok1: rgba(0, 0, 0, 0.14);
$background-color-border: rgba(255, 255, 255, 0.3);
$background-color-border-input: rgba(33, 33, 33, 0.2);

$color-text-main: #757575;
$color-text-topic: #212121;
$color-text-hero: #ffffff;
$color-text-dark: #000000;
$color-text-accent: #2196f3;
$color-text-adress: rgba(255, 255, 255, 0.6);
$color-text-placeholder: rgba(117, 117, 117, 0.5);

$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
